<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence 
	http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
	version="2.1">
	<persistence-unit name="fsmflying_sysadmin"
		transaction-type="JTA">
		<class>com.fsmflying.sys.dm.SysUser</class>
		<class>com.fsmflying.sys.dm.SysRole</class>
		<class>com.fsmflying.sys.dm.SysDictDir</class>
		<class>com.fsmflying.sys.dm.SysDictItem</class>
		<class>com.fsmflying.sys.dm.SysCompany</class>
		<class>com.fsmflying.sys.dm.SysDepartment</class>
		<class>com.fsmflying.sys.dm.SysEmployee</class>
		<class>com.fsmflying.sys.dm.SysConfig</class>
		<class>com.fsmflying.sys.dm.SysCustomPage</class>
		<class>com.fsmflying.sys.dm.SysDataAuth</class>
		<class>com.fsmflying.sys.dm.SysDataAuthItem</class>
		<class>com.fsmflying.sys.dm.SysFile</class>
		<class>com.fsmflying.sys.dm.SysTab</class>
		<class>com.fsmflying.sys.dm.SysMenu</class>
		<class>com.fsmflying.sys.dm.SysFuncPoint</class>
	</persistence-unit>
	<persistence-unit name="fsmflying_sequence"
		transaction-type="JTA">
		<class>com.fsmflying.sys.dm.Sequence</class>
	</persistence-unit>
	<persistence-unit name="fsmflying_log"
		transaction-type="JTA">
		<class>com.fsmflying.sys.dm.SysLog</class>
	</persistence-unit>
</persistence>